<div class="create-page">
   	<div class="big-image">
        <img src="https://source.unsplash.com/random" alt="unsplash photo" id="bigpicture">
        <a class="btn black" id="newimage">Get New Inspirational Image</a>
        <a class="btn black" id="newquote">Get New Inspirational Quote</a>
    </div>
</div>
