<script src="http://quotesondesign.com/api/3.0/api-3.0.js" type="text/javascript" charset="utf-8"></script>
<div class="create-page">
   	<div class="big-image">
        <img src="https://source.unsplash.com/random" alt="unsplash photo" id="bigpicture">
    </div>
    <div class="design-quote">
    	<blockquote id="qod-quote">
  			 ... loading ...
			</blockquote>
    </div>
    <div class="new-buttons">
    	<a class="btn black" id="newquote">Get New Inspirational Quote</a>
    	<a class="btn black" id="newimage">Get New Inspirational Image</a>
    </div>
</div>
