<script src="http://quotesondesign.com/api/3.0/api-3.0.js" type="text/javascript" charset="utf-8"></script>
<body>
<div class="create-page">
   	<div class="big-image overlaps">
        <img src="https://source.unsplash.com/random" alt="unsplash photo" id="bigpicture">
    </div>
    <div class="design-quote overlaps valign-center">
    	<p class="flow-text type" id="qod-quote">
  			 ... loading ...
			</p>
    </div>
    <div class="new-buttons overlaps">
      <div class="fixed-action-btn horizontal click-to-toggle">
        <a class="btn-floating btn-large black">
            <i class="material-icons">menu</i>
        </a>
        <ul>
         <li><a class="btn-floating amber lighten-1" id="newimage"><i class="material-icons">photo</i></a></li>
         <li><a class="btn-floating light-green darken-3" id="newquote"><i class="material-icons">chat</i></a></li>
         <li><a class="btn-floating light-green" id="fontswap"><i class="material-icons">invert_colors</i></a></li>
         <li><a class="btn-floating light-green" id="styleswap"><i class="material-icons">text_format</i></a></li>
         <li><a class="btn-floating deep-orange lighten-2 modal-trigger" href="#modalinstructions"><i class="material-icons">help</i></a></li>
         <li><a class="btn-floating deep-orange lighten-2" href="/profile" id="goprofile"><i class="material-icons">account_circle</i></a></li>
         <li><a class="btn-floating deep-orange lighten-2" href="/auth/logout" id="logoutbtn"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
     </div>
    <div id="modalinstructions" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Instructions</h4>
                <p>Toolbar Key</p>
                <ul>
                <li><i class="material-icons">photo</i> Get a new random inspirational photo</li>
                <li><i class="material-icons">chat</i> Get a new random quote about design</li>
                <li><i class="material-icons">invert_colors</i> Switch between black and white text</li>
                <li><i class="material-icons">text_format</i> Switch between serif and sans-serif fonts</li>
                <li><i class="material-icons">help</i> How to use this thing (You are here!)</li>
                <li><i class="material-icons">account_circle</i> Go to your profile page</li>
                <li><i class="material-icons">exit_to_app</i> Log out of These Inspiring Things</li>
                </ul>
            </div>
            <div class="modal-footer">
            <a href="/instructions">Full Instructions</a></p>
            <a href="#!" class="modal-action modal-close">Close</a>
            </div>
    </div>
    </div>
</div>
</body>
