<div class="create-page">
   	<div class="big-image">
       <img src="https://source.unsplash.com/random" alt="unsplash photo" id="bigpicture">
        <button id="newimage" type="button">Refresh Image</button>
    </div>
</div>
