<div class="container">
    <div class="row">
     <div class="col s12"><h1 class="home-title">These Inspiring Things</h1></div>
   	  <div class="starts">
    		 <a class="btn-large black" href="/auth/signup">Sign Up</a>
    		 <a class="btn-large black" href="/auth/login">Log In</a>
   	  </div>
    </div>
</div>

