<div class="container playfair">
	<div class="intro section">
		<h2>How to Use These Inspiring Things</h2>
		<p class="flow-text">Welcome to These Inspiring Things, a place on the internet that combines procrastination with inspiration.</p>
		<p class="flow-text">New here? We've got a few things you might want to know about that <a href="/create" class="light-green">create page</a>. First up, we bet you're wondering about those buttons at the bottom that appear when you click the menu icon. Here's what you need to know:</p>
		<ul class="row">
			<div class="col s12 m6">
				<li><i class="material-icons">photo</i> Get a new random inspirational photo</li>
				<li><i class="material-icons">chat</i> Get a new random quote about design</li>
				<li><i class="material-icons">invert_colors</i> Switch between black and white text</li>
				<li><i class="material-icons">text_format</i> Switch between serif and sans-serif fonts</li>
			</div>
			<div class="col s12 m6">
				<li><i class="material-icons">help</i> How to use this thing (You are here!)</li>
				<li><i class="material-icons">account_circle</i> Go to your profile page</li>
				<li><i class="material-icons">exit_to_app</i> Log out of These Inspiring Things</li>
			</div>
		</ul>
		<p class="flow-text">We also want to let you know the create page is best viewed and used when you make your browser window the full size of your screen. Otherwise, the pictures might have some strange padding around them that isn't very pretty.</p>
		<p class="flow-text">And while we're talking about that picture, if you notice your quote is lower on the screen than usual, that picture is probably portrait-oriented instead of landscape. Just scroll down a bit to center the quote in your browser.</p>
	</div>
	<div class="divider"></div>
	<div class="ideas section">
		<p class="flow-text">Wondering how to use this site to spark something special? We've got a few ideas...</p><br>
		<h4>Work break inspiration</h4>
		<p class="flow-text">Caught writer's block? Stumped on a design? Take a break from your work and spend a few minutes on These Inspiring Things. Cycle through quotes and images until something is sparked. Just think of us as a grown-up, very niche version of StumbleUpon. We recommend setting a reminder on your calendar (or fitting us into your <a href="https://cirillocompany.de/pages/pomodoro-technique" class="light-green">Pomodoro schedule</a>).</p><br>
		<h4>Tech Decor</h4>
		<p class="flow-text">REALLY love that combo you found? The perfect photo AND the perfect quote to guide you into the creative beyond? Grab it and save it as the background on your phone or computer.</p>
		<h5>Chrome + Mac</h5>
		<p class="flow-text">We hope you're using this combination. If not, we're sure you're still a really nice person. Anyway, while you're on the create page you LOVE, we're going to have you use three quick keyboard shortcuts.</p>
			<ul class="flow-text">
				<li>Step 1: Make your browser take up the full window using 'CMD CTRL f'</li>
				<li>Step 2: Get rid of that pesky browser bar using 'CMD SHIFT f'</li>
				<li>Step 3: You probably already know this one. Take a screenshot using 'CMD SHIFT 3'</li>
			</ul>
		<p class="flow-text">Next, you'll want to head to your settings, or however you typically set your desktop background image to set your new inspirational screenshot as your background. Ta-da!
		</p>
		<h5>Phones</h5>
		<p class="flow-text">In this meme-generated world, I'm sure we all know by now how to take a screenshot of what is currently displaying on our smart phone's screen. If not, Google it. We're not your mom. Then grab that sucker from where it lies post-screenshot and set it as your phone's wallpaper. Ta-da!</p>
	</div>
	<div class="divider"></div>
	<div class="outro section">
		<h4>Share It!</h4>
		<p class="flow-text">Love what you found? Did it fuel you to make something great? Post your work and tag us on Instgram using <a href="https://www.instagram.com/explore/tags/theseinspiringthings/" class="light-green">#theseinspiringthings</a></p>
	</div>
	<div class="divider"></div>
	<div class="section">
		<h4>Coming Soon...</h4>
		<p class="flow-text">We're excited you're here, and even more excited to let you know These Inspiring Things is still in beta. That means lots of awesome new features coming up that will make your inspiring experience easier and... more sparky?</p>
		<p class="flow-text">A few features we're working on:</p>
		<ul class="row">
			<li class="col s12 m4">Automated Screenshots: so you can easily combine the quote and image to create a SUPER inspiring desktop background</li>
			<li class="col s12 m4">Social Sharing: making it easy to inspire your friends, too.</li>
			<li class="col s12 m4">Favoriting: to help you keep track of the quotes and photos you've liked the most</li>
		</ul>
	</div>
	<div class="divider"></div>
	<div class="fyi section">
	<p class="flow-text">Just so you know... These Inspiring Things uses the Unsplash API, which is really great. If you're searching for a specific size of photo, or photo of a specific topic, we recommend <a href="https://unsplash.com/" class="light-green">checking them out</a>.
	</div>
	<div class="divider"></div>
	<div class="section center">
	<br>
		<a class="btn btn-large amber lighten-1" href='/create'>Create a new Inspiring Thing</a>
		<a class="btn btn-large deep-orange lighten-2" href='/profile'>Profile</a>
		<a href="/auth/logout" class="btn btn-large deep-orange lighten-2">Log Out</a>
	<br>
	<br>
	</div>
</div>
