<div class="container">
<div class="row login-form">
		<h4 class="col s12">Login to Your Account</h4>
		<p class="col s12">Use the email address and password you signed up with to sign in to your account. If you created your account using Facebook, please login with Facebook now.</p>
		<form class="col s12" action="/auth/login" method="POST" role="form">
			<div class="input-field col m6 s12">
				<i class="material-icons prefix">email</i>
				<input id="icon_email" type="email" name="email" class="validate">
				<label for="icon_email">Email Address</label>
			</div>
			<div class="input-field col m6 s12">
				<i class="material-icons prefix">lock</i>
				<input id="icon_lock" type="password" name="password" class="validate">
				<label for="icon_lock">Password</label>
			</div>
			<button class="btn-large right deep-orange lighten-2" type="submit" name="action">Log In<i class="material-icons right">send</i></button>
		</form>
	</div>
			<a href='/auth/facebook' class="btn btn-large blue darken-4 right">OR login with Facebook</a>
</div>
