<body>
<div class="row container">
	<div class="col s4">
	<h3>Hi, <%= currentUser.firstName %></h3>
	</div>
	<div class="col s8">
	<p>Email: <%= currentUser.email %></p>
	</div>
</div>
</body>


 <!-- <h1>This is your profile!</h1>
 -->
