<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
<body>
<div class="create-page">
   	<div class="big-image overlaps">
        <img src="<%= img %>" alt="unsplash photo" id="bigpicture">
    </div>
    <div class="design-quote overlaps">
    	<p class="flow-text type" id="qod-quote">
  			 <%= quote %>
			</p>
    </div>
</div>
</body>
